.title {
  width: 360px;
  align-content: center;
}

.form-floating {
  width: 360px;
}

.btn {
  outline: 1px solid black;
  background: white;
  margin: 5px;
  width: 80px;
  text-align: center;
  font-size: 15px;
}